[data-cellnode-smrad]:before {
 display: block;
 position: relative;
 width: 0;
 height: 0;
 padding: 0;
 margin: 0;
 left: 72px;
 top: 72px;
 font-size: 50px;
 content: attr(data-cellnode-smrad);
}
[data-cellnode-smrad] {
 position: relative;
 bottom: 153.2050808px;
}
